# 비밀 정보가 담긴 파일 (절대 Git에 올리면 안됨!)
.env

# Python 관련
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django 관련
# db.sqlite3
# db.sqlite3-journal
/media
# /staticfiles

# IDE 설정
.vscode/
.idea/
*.swp
*.swo

# 운영체제 파일
.DS_Store
Thumbs.db
